*.o
*.out
*.inf
*.txt
# Visual Studio cache/options
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.user.*
*.vcxproj.*
*.sdf
*.opensdf
*.suo
*.sln.docstates
*.sln.docstates.user
*.suo.user
x64/

.vscode/
.vs/
